name: Build

on: [ push, pull_request ]

jobs:
  build:
    name: Docker
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@master
    - name: Docker Layer Cache
      uses: satackey/action-docker-layer-caching@v0.0.8
    - name: Build and publish to registry
      uses: docker/build-push-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        push: true
        repository: mysteryms/genius-bot
        tags: latest
